<?xml version="1.0"?>
<model>
  <name>Wakula generic quadruped SLAM carrier</name>
  <version>0.1.0</version>
  <sdf version="1.10">model.sdf</sdf>
  <author>
    <name>Wakula Team</name>
    <email>2724596499@qq.com</email>
  </author>
  <description>
    Gazebo-only generic quadruped sensor carrier for isolated SLAM, Nav2 and OpenCV tests.
  </description>
</model>
